# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Dependency directories
node_modules/
jspm_packages/

# IDE directories and files
.vscode/
.idea/
.DS_Store

# Build directories
dist/
build/

# Temporary files
tmp/
temp/

# Others
*.swp
